{% load humanize %}
{% load strafmass_formatierung %}

<div class="card">
    <h5 class="card-header">Präjudiz: <a href="{% url 'betmurteil_detail' nachbar.pk %}">{{ nachbar }}</a></h5>
    <div class="card-body">
        <table class="table table-sm table-bordered">
            <thead class="table-light">
                <tr>
                    <td>
                        <p><b>Merkmale des Präjudiz</b></p>
                    </td>
                    <td>
                        <p><b>Differenzen</b></p>
                    </td>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td colspan="2">
                        <p>Betäubungsmittel:</p>
                        {% for betm in nachbar.betm.all %}
                        <li>{{ betm }}</li>
                        {% endfor %}

                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Rolle: {{ nachbar.rolle }},</p>
                    </td>
                    <td class="{{ nachbar.entsprechung_rolle_klasse }}">
                        <p>
                            {% if nachbar.entsprechung_rolle %}Entspricht Eingabe {% else %} Entspricht nicht
                            Eingabe {% endif %}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Nebenverurteilungscore: {{ nachbar.nebenverurteilungsscore }}</p>
                    </td>
                    <td class="{{ nachbar.nvs_diff_klasse }}">
                        <p>Differenz: {{ nachbar.nvs_diff|positives_vorzeichen }} {{ nachbar.nvs_diff }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Mengenmässig: {% if nachbar.mengenmaessig %} Ja {% else %} Nein {% endif %} </p>
                    </td>
                    <td class="{{ nachbar.entsprechung_mengenmaessig_klasse }}">
                        <p>
                            {% if nachbar.entsprechung_mengenmaessig %}Entspricht Eingabe {% else %} Entspricht nicht
                            Eingabe {% endif %}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Gewerbsmässig: {% if nachbar.gewerbsmaessig %} Ja {% else %} Nein {% endif %} </p>
                    </td>
                    <td class="{{ nachbar.entsprechung_gewerbsmaessig_klasse }}">
                        <p>
                            {% if nachbar.entsprechung_gewerbsmaessig %}Entspricht Eingabe {% else %} Entspricht nicht
                            Eingabe {% endif %}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Bandenmässig: {% if nachbar.bandenmaessig %} Ja {% else %} Nein {% endif %} </p>
                    </td>
                    <td class="{{ nachbar.entsprechung_bandenmaessig_klasse }}">
                        <p>
                            {% if nachbar.entsprechung_bandenmaessig %}Entspricht Eingabe {% else %} Entspricht nicht
                            Eingabe {% endif %}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>einschlägige Vorstrafe: {% if nachbar.vorbestraft_einschlaegig %} Ja {% else %}
                            Nein {% endif %} </p>
                    </td>
                    <td class="{{ nachbar.entsprechung_vorbestraft_einschlaegig_klasse }}">
                        <p>
                            {% if nachbar.entsprechung_vorbestraft_einschlaegig %}Entspricht Eingabe {% else %}
                            Entspricht
                            nicht Eingabe {% endif %}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Deliktsdauer in Monaten: {{ nachbar.deliktsdauer_in_monaten }}</p>
                    </td>
                    <td class="{{ nachbar.deliktsdauer_diff_klasse }}">
                        <p>Differenz: {{ nachbar.deliktsdauer_diff|positives_vorzeichen }} {{ nachbar.deliktsdauer_diff }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Deliktsertrag: {{ nachbar.deliktsertrag }}</p>
                    </td>
                    <td class="{{ nachbar.deliktsertrag_diff_klasse }}">
                        <p>Differenz: {{ nachbar.deliktsertrag_diff|positives_vorzeichen }} {{ nachbar.deliktsertrag_diff }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="table-light">
                        <p>
                            Sanktion:
                            <b>
                                {% if nachbar.hauptsanktion == '0' %}
                                {% if nachbar.vollzug == '0' %}
                                bedingte
                                {% elif nachbar.vollzug == '1' %}
                                teilbedingte
                                {% elif nachbar.vollzug == '2' %}
                                unbedingte
                                {% endif %}
                                Freiheitsstrafe von {{ nachbar.freiheitsstrafe_in_monaten|freiheitsstrafe_anzeige:"Monaten" }}.
                                {% elif nachbar.hauptsanktion == '1' %}
                                {% if nachbar.vollzug == '0' %}
                                bedingte
                                {% elif nachbar.vollzug == '1' %}
                                teilbedingte
                                {% elif nachbar.vollzug == '2' %}
                                unbedingte
                                {% endif %}
                                Geldstrafe von {{ nachbar.anzahl_tagessaetze }} Tagessätzen.
                                {% endif %}
                            </b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Sanktionsbewertung durch die KI:
                        {{ nachbar.sanktionsbewertung }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="table-light">
                        <p>Vergleichbarkeitsscore:
                            <span class="badge bg-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Ein höherer Wert bedeutet eine grössere Ähnlichkeit zu den eingegebenen Sachverhalts-Eckwerten.">
                                {{ nachbar.vergleichbarkeitsscore }}%
                            </span>
                        </p>
                    </td>
                </tr>
                {% if nachbar.kurzsachverhalt %}
                <tr>
                    <td colspan="2" class="fst-italic">
                        {{ nachbar.kurzsachverhalt|linebreaks }}
                    </td>
                </tr>
                {% endif %}
                {% if nachbar.zusammenfassung %}
                <tr>
                    <td colspan="2">
                        <p>Zusammenfassung der massgebenden Erwägungen betreffend die Strafzumessung (KI/LLM-generiert,
                            keine Gewähr):</p>
                        {{ nachbar.zusammenfassung|linebreaks }}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
