<tr>
    <td>
        {% if urteil.url_link %}
            <a href="{{ urteil.url_link }}">{{ urteil.fall_nr }}</a>
        {% else %}
           {{ urteil.fall_nr }}
        {% endif %}
    </td>
    <td>
        {{ urteil.gericht }}
    </td>
    <td>
        {{ urteil.urteilsdatum }}
    </td>
    <td>
        {% if urteil.geschlecht == '0' %}
            männlich
        {% else %}
            weiblich
        {% endif %}
    </td>
    <td>
        {% if urteil.nationalitaet == '0' and urteil.geschlecht == '0' %}
            Schweizer
        {% elif urteil.nationalitaet == '0' and urteil.geschlecht == '1' %}
            Schweizerin
        {% elif urteil.nationalitaet == '1' and urteil.geschlecht == '0' %}
            Ausländer
        {% elif urteil.nationalitaet == '1' and urteil.geschlecht == '1' %}
            Ausländerin
        {% else %}
            unbekannt
        {% endif %}
    </td>
    <td>{{ urteil.hauptdelikt }}</td>
    <td class="text-center">
        {% if urteil.mehrfach %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
        {% endif %}
    </td>
    <td class="text-center">
        {% if urteil.gewerbsmaessig %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
        {% endif %}
    </td>
    <td class="text-center">
        {% if urteil.bandenmaessig %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
        {% endif %}
    </td>
    <td>{{ urteil.deliktssumme }}</td>
    <td>{{ urteil.nebenverurteilungsscore }}</td>
    <td class="text-center">
        {% if urteil.vorbestraft %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
        {% endif %}
    </td>
    <td class="text-center">
        {% if urteil.vorbestraft_einschlaegig %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
        {% endif %}
    </td>

    {# Spalte Hauptsanktion #}
    {% if urteil.hauptsanktion == "0" %}
        <td>Freiheitsstrafe</td>
    {% elif urteil.hauptsanktion == "1" %}
        <td>Geldstrafe</td>
    {% endif %}

    {# Spalte Sanktion #}
    {% if urteil.hauptsanktion == "0" %}
        <td>{{ urteil.freiheitsstrafe_in_monaten }} Monate</td>
    {% elif urteil.hauptsanktion == "1" %}
        <td>{{ urteil.anzahl_tagessaetze }} Tagessätze</td>
    {% endif %}

    {# Spalte Vollzugsform #}
    <td>
        {% if urteil.vollzug == '0' %}
            bedingt
        {% elif urteil.vollzug == '1' %}
            teilbedingt
        {% elif urteil.vollzug == '2' %}
            unbedingt
        {% endif %}
    </td>
    <td>
        {% if urteil.in_ki_modell %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
        {% endif %}
    </td>
    <td><a class="btn btn-outline-primary" href="{% url 'urteil_update' urteil.id %}">Bearbeiten</a></td>
    <td><a class="btn btn-outline-danger disabled">Löschen</a></td>
</tr>