<tr>
    <th data-sortierbar data-tt="nach Fall-Nr. sortieren" @click="sortieren('fall_nr')">
        Fall-Nr. <span x-text="sortSymbol('fall_nr')"></span>
    </th>
    <th data-sortierbar data-tt="nach Urteilsdatum sortieren" @click="sortieren('urteilsdatum')">
        Gericht / Datum <span x-text="sortSymbol('urteilsdatum')"></span>
    </th>
    <th data-sortierbar data-tt="nach Hauptdelikt sortieren" @click="sortieren('hauptdelikt')">
        Hauptdelikt & Qualifikation <span x-text="sortSymbol('hauptdelikt')"></span>
    </th>
    <th data-sortierbar data-tt="nach Deliktssumme sortieren" @click="sortieren('deliktssumme')">
        Deliktssumme <span x-text="sortSymbol('deliktssumme')"></span>
    </th>
    <th>Täter & Vorstrafen</th>
    <th data-sortierbar data-tt="nach Sanktion sortieren" @click="sortieren('freiheitsstrafe_in_monaten')">
        Sanktion & Vollzug <span x-text="sortSymbol('freiheitsstrafe_in_monaten')"></span>
    </th>
    <th>Details</th>
</tr>