{% extends "./base.html" %}
{% load prognoseformatierung %}

{% block body %}

        <h1>Strafprognose bei Betäubungsmitteldelikt vornehmen und Präjudizien anzeigen</h1>
        <p>Die Prognose erfolgt auf Grundlage des folgendem <a href="{% url 'betmdatabase' %}">Datensatzes</a> und der darauf
            aufbauendem KI-Modelle. 
            Die Funktionsweise der KI-Modelle wird <a href="{% url 'text_funktionsweise' %}">hier</a> erklärt.</p>
    
        <div class="row">
            <form action="" method="post">
                    {% csrf_token %}

                    <div class="row g-1">
                        <div class="col col-sm-9 col-lg-6">
                            <table class="table border rounded">
                                    <legend>Schuldspruch/Dispositiv</legend>
                                    {{ form.mengenmaessig.as_field_group }}
                                    {{ form.bandenmaessig.as_field_group }}
                                    {{ form.gewerbsmaessig.as_field_group }}
                                    {{ form.mehrfach.as_field_group }}
                                    {{ form.anstaltentreffen.as_field_group }}
                                    {{ form.nebenverurteilungsscore.as_field_group }}
                            </table>
                            <table class="table border">
                            <legend>Strafzumessungsfaktoren</legend>
                            {{ form.rolle.as_field_group }}
                            {{ form.beschaffungskriminalitaet.as_field_group }}
                            {{ form.deliktsdauer_in_monaten.as_field_group }}
                            {{ form.deliktsertrag.as_field_group }}
                            {{ form.vorbestraft.as_field_group }}
                            {{ form.vorbestraft_einschlaegig.as_field_group }}
                    </table> 
                        </div>
                        <div class="col col-sm-9 col-lg-6">
                            <div id="betmform1">
                                <table id="betm1" class="table border rounded">
                                    <legend>Betäubungsmittel</legend>
                                    {{ form.betm1.as_field_group }}
                                    {{ form.betm1_menge.as_field_group }}
                                    {{ form.betm1_rein.as_field_group }}
                                </table>
                            </div>
                            <div id="betmform2">
                                <table id="betm2" class="table border rounded">
                                    <legend>allf. Betäubungsmittel 2</legend>
                                    {{ form.betm2.as_field_group }}
                                    {{ form.betm2_menge.as_field_group }}
                                    {{ form.betm2_rein.as_field_group }}
                                </table>
                            </div>
                            <div id="betmform3">
                                <table id="betm3" class="table border rounded">
                                    <legend>allf. Betäubungsmittel 3</legend>
                                    {{ form.betm3.as_field_group }}
                                    {{ form.betm3_menge.as_field_group }}
                                    {{ form.betm3_rein.as_field_group }}
                                </table>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Strafmass und Vollzugsform prognostizieren">
                        
            </form>
        </div>

        {% if form.is_valid %}
        <section>
            <h1>Vorhersage</h1>
            {% if vorhersage_hauptsanktion == 'Freiheitsstrafe' %}
                <p>Das KI-Modell sagt eine <strong>{{ vorhersage_vollzug }} {{ vorhersage_hauptsanktion }} {{ vorhersage_strafmass|prognosebereich_angeben }} Monaten </strong>  voraus.</p>
            {% elif vorhersage_hauptsanktion == 'Geldstrafe' %}
                <p>Das KI-Modell sagt eine <strong>{{ vorhersage_vollzug }} {{ vorhersage_hauptsanktion }} {{ vorhersage_strafmass|prognosebereich_angeben_fuer_geldstrafe }} Tagessätzen </strong> voraus.</p>
            {% endif %}
        </section>
        {% endif %}

        {% if form.is_valid %}
        <div>
            <h1>Vergleichbare Präjudizien</h1>
                {% comment %}
                <p>knn_prediction: {{ knn_prediction }} Monate</p>
                {% endcomment %}
            <div class="row">
                <div class="col">{% include "database/includes/betm_nachbar.html" with nachbar=nachbar1 %}</div>
                <div class="col">{% include "database/includes/betm_nachbar.html" with nachbar=nachbar2 %}</div>
            </div>
        </div>
        {% endif %}
    
        {% comment %}<script>
            document.addEventListener('DOMContentLoaded', function () {
                // Select the input field for betm1_menge
                const betm1MengeInput = document.getElementById('id_betm1_menge');
                
                // Select the input field for betm2_menge
                const betm2MengeInput = document.getElementById('id_betm2_menge');
        
                // Select the table for betm2
                const betm2Form = document.getElementById('betmform2');
                
                // Select the table for betm3
                const betm3Form = document.getElementById('betmform3');
        
                // Hide betm2 and betm3 initially
                betm2Form.style.display = 'none';
                betm3Form.style.display = 'none';
        
                // Add event listener to betm1_menge input field
                betm1MengeInput.addEventListener('input', function () {
                    // If betm1_menge has a value, show betm2; otherwise, hide it
                    if (betm1MengeInput.value.trim() !== '') {
                        betm2Form.style.display = 'table'; // Show betm2
                    } else {
                        betm2Form.style.display = 'none'; // Hide betm2
                    }
                });
                
                // Add event listener to betm2_menge input field
                betm2MengeInput.addEventListener('input', function () {
                    // If betm1_menge has a value, show betm2; otherwise, hide it
                    if (betm2MengeInput.value.trim() !== '') {
                        betm3Form.style.display = 'table'; // Show betm2
                    } else {
                        betm3Form.style.display = 'none'; // Hide betm2
                    }
                });
            });
        </script>{% endcomment %}


{% endblock %}