{% extends "./base.html" %}

{% block body %}
    <div class="container">
        <h1 class="m-3 text-center">ki.strafzumessung.ch</h1>
        <div class="row" id="ki-row">
            <div class="col mx-2 p-3 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">Präjudizen anzeigen und Strafmassprognose bei Betäubungsmittelkriminalität</div>
            <div class="col mx-2 p-3 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">Präjudizen anzeigen und Strafmassprognose bei Wirtschaftskriminalität</div>
        </div>
        <div class="row" id="db-row">
            <div class="col mx-2 p-3 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">Datenbank der Betäubungsmittelstrafrechtsurteile betrachten</div>
            <div class="col mx-2 p-3 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">Datenbank der Wirtschaftsstrafrechtsurteile betrachten</div>
        </div>
        <div class="row" id="eval-row">
            <div class="col mx-2 p-3 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">Eckwerte der KI zur Prognose der Betäubungsmittelkriminalität</div>
            <div class="col mx-2 p-3 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">Eckwerte der KI zur Prognose der Wirtschafskriminalität und Evaluation der Strafrechtsprechung</div>
        </div>
        <div class="row" id="sci-row">
            <div class="col mx-2 p-3 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">Strafzumessung unter Zuhilfenahme der KI? - ein Plädoyer</div>
            <div class="col mx-2 p-3 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">Wie die auf dieser Website eingesetzte KI funktioniert</div>
        </div>
    </div>
{% endblock %}