{% extends './base.html' %}

{% block body %}
    <h1>Basierend auf den in der Datenbank enthaltenen Urteilen wurde ein neues KI-Modell konfiguriert</h1>
    <a class="btn btn-outline-primary" href="{% url 'database' %}">Zurück zur Datenbank</a>
    <a class="btn btn-outline-primary" href="{% url 'kimodel_evaluation' %}">Grundwerte dieses KI-Modells betrachten</a>
    <a class="btn btn-outline-primary" href="{% url 'prognose' %}">Basierend auf diesem neuen KI-Modell eine Prognose wagen</a>
{% endblock %}