{% extends './base.html' %}
{% load static %}

{% block body %}

    <div class="kommentar container">
        <div class="row">
            <div class="col-md-11 mx-auto">

                <header class="kommentar-kopf">
                    <p class="kommentar-eyebrow">Kommentar zur Strafzumessung</p>
                    <h1 class="kommentar-titel">Gl&auml;ubigersch&auml;digung durch Verm&ouml;gensminderung</h1>
                    <p class="kommentar-norm">Art. 164 Ziff. 1 StGB &ndash; Freiheitsstrafe bis zu f&uuml;nf Jahren oder Geldstrafe</p>
                    <div class="kommentar-meta">
                        <span>Auswertungsstand <b>22.08.2026</b></span>
                        <span>Ausgewertete Entscheide <b>357</b></span>
                        <span>Belegte Strafwerte <b>8</b></span>
                        <span>Status <b>Prototyp</b></span>
                    </div>
                </header>

                <section class="kommentar-methode">
                    <h2>Grundlage und Grenzen dieser Auswertung</h2>
                    <p>Ausgangspunkt ist eine Volltextrecherche &uuml;ber den Bestand publizierter Schweizer Entscheide auf
                        <a href="https://entscheidsuche.ch/" target="_blank" rel="noopener">entscheidsuche.ch</a>.
                        167 Entscheide zitieren &laquo;Art.&nbsp;164 StGB&raquo; w&ouml;rtlich; die Deliktsbezeichnung
                        erscheint in zwei etwa gleich h&auml;ufigen Schreibweisen (&laquo;Verm&ouml;gensminderung&raquo; 163,
                        &laquo;Verm&ouml;gensverminderung&raquo; 154). Um keine Variante zu verlieren, wurden alle drei
                        Suchformeln kombiniert und die resultierenden <strong>357 Entscheide vollst&auml;ndig im Volltext
                        ausgewertet</strong>. 226 setzen sich mit Art.&nbsp;164 StGB auseinander, 50 enthalten einen
                        Schuldspruch, 12 eine bezifferte Strafe.</p>
                    <p>Nach Bereinigung verbleiben <strong>sieben Verfahren mit acht Strafwerten</strong>. Bereinigt wurde
                        namentlich eine Doppelz&auml;hlung: Die Entscheide
                        <a href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB180264_2021-04-21.pdf" target="_blank" rel="noopener">SB180264</a>
                        und
                        <a href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB230033_2024-02-27.pdf" target="_blank" rel="noopener">SB230033</a>
                        betreffen dasselbe Verfahren vor und nach der R&uuml;ckweisung durch das Bundesgericht
                        (6B_1043/2021) und z&auml;hlen als ein Fall. S&auml;mtliche Zahlenangaben wurden maschinell gegen den
                        Urteilstext r&uuml;ckgepr&uuml;ft; alle Entscheide sind verlinkt.</p>
                    <p><strong>Grenzen:</strong> Der Bestand ist deutschsprachig und stark bundesgerichtlich gepr&auml;gt
                        (113 der 226 Entscheide), wobei es sich dort &uuml;berwiegend um Verfahrens- und Gerichtsstandsfragen
                        ohne Strafzumessung handelt. Die kantonale Basis ist schmal: acht Strafwerte erlauben Tendenzaussagen,
                        keine Statistik.</p>
                </section>

                <h2 class="kommentar-teil"><span class="pn">A</span>Einordnung: der Entzug von Haftungssubstrat</h2>

                <div class="rz"><span class="n">N 1</span>
                    <p>Art.&nbsp;164 Ziff.&nbsp;1 StGB erfasst den Schuldner, der <em>zum Schaden der Gl&auml;ubiger sein
                        Verm&ouml;gen vermindert</em> &ndash; indem er Verm&ouml;genswerte besch&auml;digt, zerst&ouml;rt,
                        entwertet oder unbrauchbar macht, sie unentgeltlich oder gegen eine Leistung mit offensichtlich
                        geringerem Wert ver&auml;ussert oder ohne sachlichen Grund anfallende Rechte ausschl&auml;gt. Strafbar
                        wird dies, wenn &uuml;ber ihn der Konkurs er&ouml;ffnet oder gegen ihn ein Verlustschein ausgestellt
                        worden ist.</p></div>

                <div class="rz"><span class="n">N 2</span>
                    <p>Gegen&uuml;ber der Misswirtschaft (Art.&nbsp;165 StGB) verlangt Art.&nbsp;164 StGB damit mehr: nicht
                        blosse Nachl&auml;ssigkeit in der Gesch&auml;ftsf&uuml;hrung, sondern eine <strong>tats&auml;chliche
                        Verm&ouml;gensminderung</strong> durch aktives Tun. Beide Normen teilen den Strafrahmen von f&uuml;nf
                        Jahren; die praktische Leitgr&ouml;sse der Strafzumessung ist bei Art.&nbsp;164 StGB entsprechend nicht
                        die Dauer eines Zuwartens, sondern der Umfang des entzogenen <em>Haftungssubstrats</em>.</p></div>

                <div class="rz"><span class="n">N 3</span>
                    <p>In den ausgewerteten Entscheiden erscheint die Gl&auml;ubigersch&auml;digung fast durchwegs neben der
                        ungetreuen Gesch&auml;ftsbesorgung (Art.&nbsp;158 StGB), dem Pf&auml;ndungsbetrug (Art.&nbsp;163 StGB),
                        der Misswirtschaft und der Urkundenf&auml;lschung. Sie tr&auml;gt dabei kaum je die Einsatzstrafe,
                        obwohl ihr Strafrahmen dies zuliesse &ndash; regelm&auml;ssig wiegt die ungetreue
                        Gesch&auml;ftsbesorgung im konkreten Fall schwerer. Die Strafe f&uuml;r Art.&nbsp;164 StGB erscheint
                        daher meist als Asperationszuschlag (Abschnitt&nbsp;E).</p></div>

                <h2 class="kommentar-teil"><span class="pn">B</span>Die strafzumessungsrelevanten Merkmale</h2>

                <h3>I. Umfang des entzogenen Haftungssubstrats</h3>

                <div class="rz"><span class="n">N 4</span>
                    <p>Das dominierende Merkmal der objektiven Tatschwere ist der Deliktsbetrag &ndash; also das Ausmass, in
                        dem den Gl&auml;ubigern Zugriffsobjekte entzogen wurden. Das Obergericht Z&uuml;rich stellt bei der
                        mehrfachen Gl&auml;ubigersch&auml;digung fest, es falle &laquo;vor allem der hohe Deliktsbetrag ins
                        Gewicht&raquo;, und setzt die Strafe isoliert auf 10 Monate Freiheitsstrafe fest
                        (<a href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB230135_2024-09-25.pdf" target="_blank" rel="noopener">OG ZH SB230135</a>).
                        Am unteren Ende steht ein Deliktsbetrag von CHF&nbsp;12'707.44, den das Obergericht Bern
                        &laquo;in Anbetracht des weiten Strafrahmens immer noch als leicht&raquo; einstuft
                        (<a href="https://entscheidsuche.ch/docs/BE_ZivilStraf/BE_OG_005_SK-2023-532_2024-11-15.pdf" target="_blank" rel="noopener">OG BE SK 2023 532</a>).</p></div>

                <div class="rz"><span class="n">N 5</span>
                    <p>Der Betrag ist allerdings h&auml;ufig nicht exakt bezifferbar &ndash; das Obergericht Z&uuml;rich
                        h&auml;lt ausdr&uuml;cklich fest, dass &laquo;der Deliktsbetrag nicht exakt bestimmt werden kann&raquo;,
                        und misst auch Teilfrei&shy;spr&uuml;chen keine entscheidende Wirkung auf die Strafh&ouml;he bei
                        (<a href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB230135_2024-09-25.pdf" target="_blank" rel="noopener">SB230135</a>).
                        Wer die Verteidigung auf eine Reduktion der Deliktssumme ausrichtet, gewinnt daher oft weniger, als der
                        rechnerische Unterschied vermuten l&auml;sst.</p></div>

                <h3>II. Mass des deliktischen Tuns</h3>

                <div class="rz"><span class="n">N 6</span>
                    <p>Weil Art.&nbsp;164 StGB aktives Handeln voraussetzt, wiegt die Zahl und Selbst&auml;ndigkeit der
                        Entzugshandlungen eigenst&auml;ndig. Aufschlussreich ist der Vergleich, den das Obergericht Z&uuml;rich
                        zwischen Gl&auml;ubigersch&auml;digung und Pf&auml;ndungsbetrug zieht: Die Strafe f&uuml;r den
                        Pf&auml;ndungsbetrug sei zu streng bemessen, weil die Gl&auml;ubigersch&auml;digung &laquo;ein
                        gr&ouml;sseres Mass an deliktischem Tun und damit eine erh&ouml;hte kriminelle Energie erforderte&raquo;,
                        w&auml;hrend es beim Pf&auml;ndungsbetrug teils bei einfachen Erkl&auml;rungen blieb.</p></div>

                <div class="befund">
                    <span class="tag">Befund</span>
                    <p>Innerhalb der Konkursdelikte gilt damit eine <strong>Rangordnung nach Handlungsaufwand</strong>: Wer
                        Verm&ouml;gen aktiv beiseiteschafft, wiegt schwerer als wer im Pf&auml;ndungsverfahren blosse falsche
                        Angaben macht. Das ist ein brauchbares Argument, wenn mehrere Konkursdelikte nebeneinander zu bemessen
                        sind.</p>
                </div>

                <h3>III. Vorsatzform</h3>

                <div class="rz"><span class="n">N 7</span>
                    <p>Hier liegt der praktisch wichtigste Einwand. Art.&nbsp;164 StGB setzt begrifflich voraus, dass der
                        T&auml;ter den Gl&auml;ubigern den Zugriff entziehen will. Das Obergericht Bern zieht daraus die
                        Konsequenz: Der festgestellte direkte Vorsatz sei <strong>deliktsimmanent</strong> und d&uuml;rfe
                        deshalb nicht straferh&ouml;hend gewertet werden.</p></div>

                <blockquote>Bei der subjektiven Tatschwere ist festzuhalten, dass die Kammer von direktem Vorsatz ausgeht. Er
                    wollte durch das Abziehen der Provisionszahlung der Privatkl&auml;gerin die Zugriffe auf
                    Verm&ouml;genswerte der E.________ GmbH verwehren und diese damit sch&auml;digen. Die Vorinstanz hielt aber
                    zu Recht fest, dass dies als deliktsimmanent gelten muss.
                    <cite><a href="https://entscheidsuche.ch/docs/BE_ZivilStraf/BE_OG_005_SK-2023-532_2024-11-15.pdf" target="_blank" rel="noopener">Obergericht Bern SK 2023 532 vom 15.11.2024</a></cite></blockquote>

                <div class="rz"><span class="n">N 8</span>
                    <p>Straferh&ouml;hend wirkt die subjektive Komponente daher nur, wenn <em>zus&auml;tzliche</em> Elemente
                        hinzutreten. Das Obergericht Z&uuml;rich nennt in diesem Zusammenhang &laquo;direkter Vorsatz, Habgier,
                        Delinquenz als Rechtsanwalt&raquo; und stuft das objektive Tatverschulden im mittleren Bereich ein
                        (<a href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB240125_2025-03-03.pdf" target="_blank" rel="noopener">OG ZH SB240125</a>)
                        &ndash; erschwerend sind dort also das Motiv und die berufliche Pflichtenstellung, nicht die Vorsatzform
                        als solche.</p></div>

                <h3>IV. Dreistigkeit der Tatausf&uuml;hrung</h3>

                <div class="rz"><span class="n">N 9</span>
                    <p>Ein wiederkehrendes erschwerendes Element ist das Hinwegsetzen &uuml;ber bereits bestehende
                        Verpflichtungen gegen&uuml;ber den Gl&auml;ubigern. Im schwersten ausgewerteten Fall f&auml;llt ins
                        Gewicht, dass sich der Beschuldigte &laquo;dreist &uuml;ber die Vergleichsvereinbarung hinwegsetzte und
                        zuliess, dass die L.________ &uuml;ber kein Haftungssubstrat mehr verf&uuml;gte&raquo;
                        (<a href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB240125_2025-03-03.pdf" target="_blank" rel="noopener">SB240125</a>).
                        Der vollst&auml;ndige Entzug des Haftungssubstrats &ndash; nicht bloss dessen Schm&auml;lerung &ndash;
                        markiert die Obergrenze der belegten Praxis.</p></div>

                <h2 class="kommentar-teil"><span class="pn">C</span>Asperation und Deckungsgleichheit</h2>

                <div class="rz"><span class="n">N 10</span>
                    <p>Weil dieselbe Verm&ouml;gensverschiebung typischerweise zugleich die ungetreue Gesch&auml;ftsbesorgung
                        erf&uuml;llt, &uuml;berschneiden sich die Verschuldensbewertungen erheblich. Das Obergericht Z&uuml;rich
                        h&auml;lt fest, das Verschulden betreffend die verschiedenen Delikte sei &laquo;teilweise als
                        deckungsgleich zu bezeichnen&raquo;, was bei den Nebendelikten &laquo;bereits zu einer erheblichen
                        Verschuldensreduktion gef&uuml;hrt&raquo; habe
                        (<a href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB230033_2024-02-27.pdf" target="_blank" rel="noopener">SB230033</a>).</p></div>

                <div class="rz"><span class="n">N 11</span>
                    <p>Praktisch schl&auml;gt sich das in auffallend ged&auml;mpften Zuschl&auml;gen nieder. Im Fall
                        <a href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB240125_2025-03-03.pdf" target="_blank" rel="noopener">SB240125</a>
                        wird die Einsatzstrafe von 42 Monaten wegen der Gl&auml;ubigersch&auml;digung auf 51 Monate
                        erh&ouml;ht, w&auml;hrend die anschliessende Gehilfenschaft zu ungetreuer Gesch&auml;ftsbesorgung
                        <em>und</em> zu Gl&auml;ubigersch&auml;digung zusammen &laquo;nur um 3 Monate&raquo; zu Buche
                        schl&auml;gt &ndash; ausdr&uuml;cklich &laquo;aufgrund des Gesamtzusammenhangs mit den weiteren
                        Straftaten&raquo;.</p></div>

                <h2 class="kommentar-teil"><span class="pn">D</span>Dogmatische Grenzen</h2>

                <div class="rz"><span class="n">N 12</span>
                    <p>Die praktisch bedeutsamste Einschr&auml;nkung des Tatbestands liefert <strong>BGE 131 IV 49</strong>:
                        Wer als handlungsbef&auml;higtes Organ einer Aktiengesellschaft eine <em>f&auml;llige und einklagbare</em>
                        Darlehensschuld der Gesellschaft begleicht, ver&auml;ussert keine Verm&ouml;genswerte unentgeltlich oder
                        gegen offensichtlich geringere Leistung im Sinne von Art.&nbsp;164 Ziff.&nbsp;1 Abs.&nbsp;3 StGB &ndash;
                        und zwar auch dann nicht, wenn das handelnde Organ zugleich Gl&auml;ubigerin des Darlehens ist. Die
                        Tilgung bestehender Schulden f&auml;llt damit nicht unter Art.&nbsp;164 StGB; in Betracht kommt
                        allenfalls die Gl&auml;ubigerbevorzugung nach Art.&nbsp;167 StGB.</p></div>

                <div class="rz"><span class="n">N 13</span>
                    <p>Zur objektiven Strafbarkeitsbedingung: Nach <strong>BGE 84 IV 15</strong> muss der ausgestellte
                        Verlustschein <em>rechtskr&auml;ftig</em> geworden sein; die Bedingung ist nicht Tatbestandsmerkmal und
                        braucht nicht vom Vorsatz erfasst zu werden. Nach <strong>BGE 148 IV 170</strong> gen&uuml;gt die
                        Anordnung einer Konkursliquidation wegen Organisationsmangels (Art.&nbsp;731b Abs.&nbsp;1<sup>bis</sup>
                        Ziff.&nbsp;3 OR) f&uuml;r sich allein nicht, um die Strafbarkeitsbedingung der Art.&nbsp;163&ndash;167
                        StGB zu erf&uuml;llen. Beide Einw&auml;nde lohnen die Pr&uuml;fung, weil sie den Schuldspruch
                        insgesamt zu Fall bringen.</p></div>

                <h2 class="kommentar-teil"><span class="pn">E</span>Belegte Strafmasse</h2>

                <p class="kommentar-lead">Isoliert bemessene Strafen und Asperationszuschl&auml;ge sind getrennt auszuweisen:
                    Der Zuschlag ist bereits um die Deckungsgleichheit mit dem Hauptdelikt gek&uuml;rzt (N&nbsp;10&nbsp;f.).</p>

                <div class="tabelle-wrap">
                    <table class="table table-sm kommentar-tabelle">
                        <caption>Isoliert bemessene Strafen f&uuml;r Art. 164 StGB</caption>
                        <thead><tr><th>Entscheid</th><th>Datum</th><th>Benannter Grad</th><th>Strafe</th><th>Bemerkung</th></tr></thead>
                        <tbody>
                        <tr><td class="ent"><a href="https://entscheidsuche.ch/docs/BE_ZivilStraf/BE_OG_005_SK-2023-532_2024-11-15.pdf" target="_blank" rel="noopener">OG BE SK 2023 532</a></td><td class="num">15.11.2024</td><td><span class="sev"><span class="dot s1"></span>leicht</span></td><td class="num">80 Strafeinheiten <span class="src">&rarr; 60 TS</span></td><td>einziger Schuldspruch; Deliktsbetrag CHF 12'707.44</td></tr>
                        <tr><td class="ent"><a href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB230135_2024-09-25.pdf" target="_blank" rel="noopener">OG ZH SB230135</a></td><td class="num">25.09.2024</td><td><span class="sev"><span class="dot s2"></span>hoher Deliktsbetrag</span></td><td class="num">10 Monate <span class="src">(isoliert)</span></td><td>mehrfache Begehung</td></tr>
                        </tbody>
                    </table>
                </div>

                <div class="tabelle-wrap">
                    <table class="table table-sm kommentar-tabelle">
                        <caption>Art. 164 StGB als asperiertes Nebendelikt</caption>
                        <thead><tr><th>Entscheid</th><th>Datum</th><th>Benannter Grad</th><th>Zuschlag</th><th>Hauptdelikt</th></tr></thead>
                        <tbody>
                        <tr><td class="ent"><a href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB170493_2019-02-11.pdf" target="_blank" rel="noopener">OG ZH SB170493</a></td><td class="num">11.02.2019</td><td>&mdash;</td><td class="num">30 TS</td><td>Misswirtschaft</td></tr>
                        <tr><td class="ent"><a href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB180092_2021-12-16.pdf" target="_blank" rel="noopener">OG ZH SB180092</a></td><td class="num">16.12.2021</td><td>&mdash;</td><td class="num">30 TS <span class="src">(Gehilfenschaft)</span></td><td>Pf&auml;ndungsbetrug</td></tr>
                        <tr><td class="ent"><a href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB230033_2024-02-27.pdf" target="_blank" rel="noopener">OG ZH SB230033</a></td><td class="num">27.02.2024</td><td><span class="sev"><span class="dot s1"></span>sehr leicht <span class="src">(fr&uuml;heres Stadium)</span></span></td><td class="num">5 Monate</td><td>ung. Gesch&auml;ftsbesorgung</td></tr>
                        <tr><td class="ent"><a href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB240125_2025-03-03.pdf" target="_blank" rel="noopener">OG ZH SB240125</a></td><td class="num">03.03.2025</td><td><span class="sev"><span class="dot s2"></span>mittlerer Bereich</span></td><td class="num">9 Monate <span class="src">(42 &rarr; 51 Mt.)</span></td><td>ung. Gesch&auml;ftsbesorgung</td></tr>
                        <tr><td class="ent"><a href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB240125_2025-03-03.pdf" target="_blank" rel="noopener">OG ZH SB240125</a></td><td class="num">03.03.2025</td><td><span class="sev"><span class="dot s2"></span>mittlerer Bereich</span></td><td class="num">3 Monate <span class="src">(Gehilfenschaft, mit Art. 158)</span></td><td>ung. Gesch&auml;ftsbesorgung</td></tr>
                        <tr><td class="ent"><a href="https://entscheidsuche.ch/docs/AG_Gerichte/AG_OG_008_SST-2025-65_2026-01-12.pdf" target="_blank" rel="noopener">OG AG SST.2025.65</a></td><td class="num">12.01.2026</td><td>&mdash;</td><td class="num">12 Monate <span class="src">(&rarr; 40 Mt.)</span></td><td>mehrere Konkursdelikte</td></tr>
                        </tbody>
                    </table>
                </div>

                <div class="rz"><span class="n">N 14</span>
                    <p>Die Spanne reicht von 30 Tagess&auml;tzen bis 12 Monaten. Sie folgt erkennbar der Schwere des
                        Gesamtverfahrens: Die tiefsten Zuschl&auml;ge stehen neben Geldstrafen, der h&ouml;chste neben einer
                        Gesamtstrafe von 40 Monaten. Ein Zuschlag l&auml;sst sich deshalb nicht isoliert auf seine
                        Angemessenheit pr&uuml;fen, sondern nur im Verh&auml;ltnis zur Einsatzstrafe &ndash; was den Vergleich
                        &uuml;ber Verfahren hinweg erschwert und die schmale Datenbasis zus&auml;tzlich relativiert.</p></div>

                <div class="rz"><span class="n">N 15</span>
                    <p>Der Strafrahmen von f&uuml;nf Jahren bleibt auch hier weitgehend ungenutzt: Der h&ouml;chste belegte
                        eigenst&auml;ndige Wert betr&auml;gt 12 Monate, die h&ouml;chste isolierte Strafe 10 Monate. Wie bei der
                        Misswirtschaft (Art.&nbsp;165 StGB) bewegt sich die Praxis im untersten F&uuml;nftel des zur
                        Verf&uuml;gung stehenden Rahmens.</p></div>

                <h2 class="kommentar-teil"><span class="pn">F</span>Pr&uuml;fraster f&uuml;r die Praxis</h2>

                <div class="tabelle-wrap">
                    <table class="table table-sm kommentar-tabelle">
                        <caption>Merkmale der Tatschwere in der Reihenfolge ihres belegten Gewichts</caption>
                        <thead><tr><th>Merkmal</th><th>Richtung</th><th>Belegte Wirkung</th></tr></thead>
                        <tbody>
                        <tr><td>Umfang des entzogenen Haftungssubstrats</td><td>erh&ouml;hend</td><td>CHF 12'707 &rarr; leicht; vollst&auml;ndiger Entzug &rarr; mittlerer Bereich</td></tr>
                        <tr><td>Deckungsgleichheit mit Art. 158 StGB</td><td>mindernd</td><td>&laquo;erhebliche Verschuldensreduktion&raquo; (N&nbsp;10)</td></tr>
                        <tr><td>Mass des deliktischen Tuns</td><td>erh&ouml;hend</td><td>wiegt schwerer als blosser Pf&auml;ndungsbetrug (N&nbsp;6)</td></tr>
                        <tr><td>Hinwegsetzen &uuml;ber Vereinbarung mit Gl&auml;ubigern</td><td>erh&ouml;hend</td><td>&laquo;dreist&raquo;; Obergrenze der belegten Praxis</td></tr>
                        <tr><td>Berufliche Pflichtenstellung, Habgier</td><td>erh&ouml;hend</td><td>&laquo;Delinquenz als Rechtsanwalt&raquo;</td></tr>
                        <tr><td>Mehrfache Begehung</td><td>erh&ouml;hend</td><td>eigene Strafe je Tathandlung, dann Asperation</td></tr>
                        <tr><td>Direkter Vorsatz</td><td>&mdash;</td><td>deliktsimmanent, <em>nicht</em> erh&ouml;hend (N&nbsp;7)</td></tr>
                        <tr><td>Teilfreispr&uuml;che zum Deliktsbetrag</td><td>&mdash;</td><td>&laquo;nicht entscheidend&raquo; f&uuml;r die Strafh&ouml;he (N&nbsp;5)</td></tr>
                        <tr><td>Tilgung f&auml;lliger, einklagbarer Schulden</td><td>&mdash;</td><td>kein Tatbestand (BGE 131 IV 49, N&nbsp;12)</td></tr>
                        </tbody>
                    </table>
                </div>

                <h2 class="kommentar-teil"><span class="pn">G</span>Ausgewertete Entscheide</h2>

                <ol class="quellen">
                    <li><a class="d" href="https://entscheidsuche.ch/docs/BE_ZivilStraf/BE_OG_005_SK-2023-532_2024-11-15.pdf" target="_blank" rel="noopener">OG BE SK 2023 532</a> vom 15.11.2024 &ndash; einziger Schuldspruch; 80 Strafeinheiten; direkter Vorsatz deliktsimmanent</li>
                    <li><a class="d" href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB230135_2024-09-25.pdf" target="_blank" rel="noopener">OG ZH SB230135</a> vom 25.09.2024 &ndash; 10 Mt. isoliert; Rangordnung zum Pf&auml;ndungsbetrug</li>
                    <li><a class="d" href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB240125_2025-03-03.pdf" target="_blank" rel="noopener">OG ZH SB240125</a> vom 03.03.2025 &ndash; Zuschlag 9 Mt.; vollst&auml;ndiger Entzug des Haftungssubstrats</li>
                    <li><a class="d" href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB230033_2024-02-27.pdf" target="_blank" rel="noopener">OG ZH SB230033</a> vom 27.02.2024 &ndash; Zuschlag 5 Mt.; Deckungsgleichheit der Verschuldensbewertung</li>
                    <li><a class="d" href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB180264_2021-04-21.pdf" target="_blank" rel="noopener">OG ZH SB180264</a> vom 21.04.2021 &ndash; fr&uuml;heres Stadium desselben Verfahrens; objektive Tatschwere &laquo;sehr leicht&raquo;</li>
                    <li><a class="d" href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB170493_2019-02-11.pdf" target="_blank" rel="noopener">OG ZH SB170493</a> vom 11.02.2019 &ndash; Asperation 30 TS neben Misswirtschaft</li>
                    <li><a class="d" href="https://entscheidsuche.ch/docs/ZH_Obergericht/ZH_OG_002_SB180092_2021-12-16.pdf" target="_blank" rel="noopener">OG ZH SB180092</a> vom 16.12.2021 &ndash; Gehilfenschaft; Asperation 30 TS</li>
                    <li><a class="d" href="https://entscheidsuche.ch/docs/AG_Gerichte/AG_OG_008_SST-2025-65_2026-01-12.pdf" target="_blank" rel="noopener">OG AG SST.2025.65</a> vom 12.01.2026 &ndash; Zuschlag 12 Mt. auf 40 Mt. Freiheitsstrafe</li>
                    <li><a class="d" href="https://entscheidsuche.ch/docs/CH_BGE/CH_BGE_006_BGE-131-IV-49_2005.html" target="_blank" rel="noopener">BGE 131 IV 49</a> &ndash; Tilgung f&auml;lliger Darlehensschuld ist keine unentgeltliche Ver&auml;usserung</li>
                    <li><a class="d" href="https://entscheidsuche.ch/docs/CH_BGE/CH_BGE_006_BGE-84-IV-15_1958-02-14.html" target="_blank" rel="noopener">BGE 84 IV 15</a> &ndash; Verlustschein muss rechtskr&auml;ftig sein; objektive Strafbarkeitsbedingung</li>
                    <li><a class="d" href="https://entscheidsuche.ch/docs/CH_BGE/CH_BGE_006_BGE-148-IV-170_2022-04-07.html" target="_blank" rel="noopener">BGE 148 IV 170</a> &ndash; Konkursliquidation wegen Organisationsmangels gen&uuml;gt nicht</li>
                </ol>

                <p class="kommentar-schluss">Prototyp der Rubrik &laquo;Gesetzeskommentar zur Strafzumessung&raquo;. Erstellt
                    aus 357 im Volltext ausgewerteten Entscheiden; alle Zahlenangaben maschinell gegen den Urteilstext
                    r&uuml;ckgepr&uuml;ft. Die Auswertung ersetzt keine eigene Pr&uuml;fung der Entscheide im Einzelfall.</p>

            </div>
        </div>
    </div>

{% endblock body %}
