{% extends './base.html' %}
{% load static %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-11 mx-auto">
                <h3 class="mt-4">Strafzumessung mit Hilfe künstlicher Intelligenz?</h3>
                <p class="lead mb-2">Die richterliche Zumessung der Strafe ist geprägt von weiten Ermessenspielräumen und ihr 
                    haftet – nicht gänzlich unberechtigt – das Etikett der Willkür an. Mit vorliegendem Beitrag wird 
                    dargelegt, wie die künstliche Intelligenz einen Beitrag für eine rechtsgleiche und somit gerechtere 
                    Strafzumessung leisten kann.</p>
                
                <h4 class="mt-3">Einleitung</h4>
                <p>Spätestens seit das Softwarunternehmen OpenAI mit ChatGPT Ende November 2022 ein leicht zugängliches 
                    und daher massentaugliches Large Language Model veröffentlicht hat, ist die «künstliche Intelligenz» 
                    (KI) in aller Munde. Unter diesem Begriff wird eine Technologie angesprochen, deren theoretische 
                    Grundlagen zwar lange vor dem gegenwärtigen digitalen Wandel erforscht worden sind, die jedoch erst 
                    dank der stetig voranschreitenden Rechen- und Speicherkapazitäten von Computern für den 
                    Alltagsgebrauch nutzbar wurde. Die Bezeichnung rührt daher, dass die Leistungsfähigkeit der KI von 
                    der Arbeitsweise bzw. der Intelligenz des menschlichen Gehirns inspiriert ist. Die KI soll unter 
                    anderem komplexe menschliche Entscheidungen, die mit einer auf der Lebenserfahrung gestützten 
                    Intuition gefällt werden, nachahmen und damit assistieren oder gar gänzlich substituieren.</p>
                <p>Angesichts dieser erhofften Leistungen vermag es nicht zu verwundern, dass vermehrt Überlegungen 
                    angestellt werden, wie die KI innerhalb der Justiz gewinnbringend genutzt werden könnte und unter 
                    welchen Bedingungen ihr Einsatz bei der richterlichen Tätigkeit zulässig sein kann.<sup><a href="#fn1" id="ref1">1</a></sup> Der vorliegende 
                    Beitrag nimmt sich am Beispiel der Strafzumessung diesen beiden Fragen an und legt dar, wie 
                    bestimmte Methoden der KI genutzt werden können, um einen Beitrag für eine gerechtere Sanktionierung 
                    zu leisten. Zu diesem Zweck wird in einem ersten Teil aufgezeigt, welche Herausforderungen bei der 
                    Ausübung der Strafzumessung bestehen (I.), um darauf aufbauend darzulegen, wie diese mit dem 
                    Einsatz der KI besser bewältigt werden können (II.). Zuletzt wird begründet, wieso die Vorbehalte, 
                    welche gegen den Einsatz von KI in der Justiz angebracht worden sind, auf die hier vorgeschlagene 
                    Anwendung nicht zutreffen (III.).</p>
                
                <h4 class="mt-3">I.	Die Strafzumessung in Theorie und Praxis</h4>
                <h5 class="mt-3">1.	Der Begriff der Strafzumessung und deren gesetzliche Grundlagen</h5>
                <p>Unter dem Begriff der Strafzumessung wird der Vorgang verstanden, anlässlich jenem die Strafbehörde 
                    die Art und das Mass (verstanden als Dauer einer freiheitsentziehenden bzw. als Höhe einer 
                    pekuniären Sanktion) der Strafe festlegt, welche wegen einer Straftat ausgesprochen wird. 
                    Der gesetzliche Ausgangspunkt dieses Vorgangs bildet in jedem Fall der vom verwirklichten 
                    Straftatbestand abgesteckte Strafrahmen, in welchem sich die für die fragliche Straftat 
                    auszusprechende Strafe grundsätzlich zu bewegen hat. Dazu ist festzuhalten, dass die einzelnen 
                    Straftatbestände – bewusst<sup><a href="#fn2" id="ref2">2</a></sup> – jeweils einen weiten Strafrahmen vorsehen. So ist es etwa möglich, 
                    einen Betrug i.S.v. Art. 146 Abs. 1 StGB mit einer Geldstrafe von drei Tagessätzen oder mit einer 
                    Freiheitsstrafe von fünf Jahren zu bestrafen. Es ist selbstredend, dass zwischen diesen beiden 
                    möglichen Strafmassen, was die Wirkung auf die betroffene Person betrifft, «Welten liegen». 
                    Darüber hinaus öffnet sich dieser ohnehin schon <b>weite richterliche Ermessenspielraum</b> erheblich, 
                    wenn bspw. mehrere Straftatbestände verwirklicht worden sind und/oder Strafmilderungs-/Strafschärfungsgründe 
                    vorliegen, was es der Strafbehörde erlaubt, den tatbestandlich abgesteckten 
                    Strafrahmen zu verlassen.</p>
                <p>Innerhalb dieses gesetzlich vorgegebenen Strafrahmens ist anlässlich einer «<b>Strafzumessung im 
                    engeren Sinne</b>» die im Einzelfall «angemessene Strafe» festzusetzen. Die gesetzlichen Vorgaben 
                    für diese angesichts des weiten Ermessensspielraums anspruchsvolle Aufgabe sind dem 
                    Strafgesetzbuch aus Art. 47 bzw. – für Übertretungen – aus Art. 106 zu entnehmen. Primäres 
                    Kriterium für die Bemessung der Strafe ist nach beiden Bestimmungen das «Verschulden». 
                    Gemäss der Auslegung des Bundesgerichts gehe es dabei im Kern um den Vorwurf an den Täter, 
                    sich tatbestandsmässig und nicht anders verhalten zu haben, obwohl letzteres möglich gewesen wäre 
                    – also um das «Mass der Vorwerfbarkeit des Rechtsbruchs».<sup><a href="#fn3" id="ref3">3</a></sup> 
                    Wie es regelmässig betont, 
                    sei das für die Strafzumessung massgebliche Verschulden aus dem 
                    «gesamten Unrechts- und Schuldgehalt» der konkreten Straftat abzuleiten.<sup><a href="#fn4" id="ref4">4</a></sup> </p>
                <p>Aus diesen floskelhaft anmutenden Formulierungen geht zumindest hervor, dass nach der gesetzlichen 
                    Konzeption hinsichtlich der Festsetzung der im Einzelfall angemessenen Strafe <b>zahlreiche 
                        Sachverhaltskriterien</b> berücksichtigt werden müssen. In Rechtsprechung und Lehre besteht 
                    Einigkeit darüber, dass die in Frage kommenden Kriterien in zwei grobe Hauptkategorien, 
                    in die sog. Tat- und Täterkomponenten, aufzuteilen sind.<sup><a href="#fn5" id="ref5">5</a></sup> 
                    Diese Aufteilung lässt sich auch dem Strafgesetzbuch entnehmen, indem es in Art. 
                    47 Abs. 2 die einzelnen Tatkomponenten aufzählt, die zur Festsetzung des 
                    zumessungsrelevanten Verschuldens massgebend sind, und in Abs. 1 Satz 2 derselben 
                    Bestimmung einzelne Täterkomponenten ausformuliert, welche bei der Strafzumessung 
                    ebenfalls zu berücksichtigen sind.</p>
                <p>Bei diesen Kriterien nach Art. 47 ff. StGB handelt es sich um <b>interpretations- und ausfüllungsbedürftige 
                    Generalklauseln</b>. Der Gesetzgeber hat diese unbestimmte Formulierung gewählt, weil er sich bewusst 
                    ist, dass die Frage, wann ein bestimmtes Strafmass angemessen ist, nach unterschiedlichen und 
                    im Einzelnen umstrittenen Gesichtspunkten beantwortet werden kann.<sup><a href="#fn6" id="ref6">6</a></sup>
                    Um diese Grundsatzfrage nicht vorwegnehmen zu müssen, hat er mit der gewählten Gesetzgebungstechnik 
                    die Aufgabe der Findung des im Einzelfall gerechten Massstabs, an welchem sich das Angemessenheit 
                    der Strafe zu messen hat, an die Anwenderinnen und Anwender delegiert.<sup><a href="#fn7" id="ref7">7</a></sup></p>
                <p>Damit ist als Zwischenfazit festzuhalten, dass den Strafbehörden bei der Strafzumessung ein 
                    grosser Ermessenspielraum zukommt, welcher durch die wenig konkreten gesetzlichen Vorgaben 
                    kaum eingeschränkt wird.<sup><a href="#fn8" id="ref8">8</a></sup> 
                    Ein solches Legiferieren ist angesichts des Umstands, dass die Art 
                    sowie die Höhe der Strafe für die davon betroffene Person von <b>unmittelbarer Bedeutung</b> ist 
                    und einen wesentlichen Eingriff in die persönliche Freiheit darstellt, durchaus überraschend. 
                    Gemessen an der Tatsache, dass mit der Entscheidung über die Sanktion das Strafurteil für den 
                    Angeklagten konkret spürbar wird, sowie am Ideal, dass Gesetze staatliche Willkür verhindern, 
                    ist die Strafzumessung somit die «am schlechtesten gelöste»<sup><a href="#fn9" id="ref9">9</a></sup>  
                    Aufgabe der strafbehördlichen Tätigkeit.<sup><a href="#fn10" id="ref10">10</a></sup></p>
                
                <h5 class="mt-3">2.	Die Strafzumessung in bundesgerichtlicher Rechtsprechung und im rechtswissenschaftlichen Schrifttum</h5>
                <p>
                    Es entspricht der üblichen Arbeitsweise der Juristinnen und Juristen, dass sie bei einer unklaren 
                    Gesetzeslage prüfen, welche Vorgaben und Hilfestellungen einerseits der Rechtsprechung sowie 
                    anderseits der Lehre zu entnehmen sind. In der Tat hat das <b>Bundesgericht</b> – nachdem es sich lange 
                    zurückgehalten hat, in die weitgehend undurchsichtige Strafzumessungspraxis der kantonalen 
                    Gerichte einzugreifen – in den letzten Jahrzehnten begonnen, eine 
                    (in besonderen Konstellationen höchst anspruchsvolle) «<b>Strafzumessungsmethodik</b>» zu etablieren, 
                    deren Nichtbeachtung es als Verletzung von Bundesrecht taxiert:<sup><a href="#fn11" id="ref11">11</a></sup> 
                    Weil die entscheidende 
                    Rolle für das Strafmass dem (objektiven und subjektiven) Tatverschulden zukomme,<sup><a href="#fn12" id="ref12">12</a></sup>  
                    habe das Gericht in einem ersten Zwischenschritt abzuwägen, welche verschuldensmindernden 
                    und -erhöhenden Gründe im konkreten Fall gegeben sind, um so zu einer Gesamteinschätzung 
                    des Tatverschuldens zu gelangen. Das Tatverschulden sei nach dieser Einschätzung 
                    qualitativ zu bewerten (leichtes, mittelgradiges oder schweres Tatverschulden) und es sei 
                    – zumindest in bestimmten Konstellationen, etwa wenn eine verminderte Schuldfähigkeit 
                    oder mehrere Straftaten vorliegen – nach Massgabe dieser Schuldbewertung vor dem 
                    Hintergrund des konkret anwendbaren Strafrahmens eine sog. «hypothetische Einsatzstrafe» 
                    festzulegen. Diese Einsatzstrafe sei sodann in einem zweiten Zwischenschritt anhand 
                    der Täterkomponente und/oder anderen tatunabhängigen Gesichtspunkten 
                    (bspw. Vorstrafen, Geständnis oder Asperation im Rahmen der Gesamtstrafenbildung bei 
                    mehreren verwirklichten Straftatbeständen) anzupassen.<sup><a href="#fn13" id="ref13">13</a></sup> 
                    Da sich das Bundesgericht jedoch 
                    nicht dazu äussert, wie die qualitative Tatverschuldensbewertung «rechnerisch» 
                    umzusetzen ist, vermögen diese höchstgerichtlichen methodischen Vorgaben 
                    hinsichtlich der Findung der im Einzelfall angemessenen Strafe 
                    jedoch kaum weiterzuhelfen.<sup><a href="#fn14" id="ref14">14</a></sup>
                </p>
                <p>
                    Auch der Blick in das <b>rechtswissenschaftliche Schrifttum</b> ist bezüglich der konkreten 
                    Festsetzung der Strafe selten erhellend. Zwar hat die Lehre gemeinsam mit der Rechtsprechung 
                    zuweilen in eindrucksvoller Zahl bestimmte (Sachverhalts-)Kriterien bzw. Merkmale 
                    (sog. «<b>Strafzumessungsfaktoren</b>») herausgearbeitet, welche für die Bewertung des Tat 
                    und Täterverschuldens von Belang sein sollen. So soll bspw. bei den Vermögensdelikten 
                    insb. der Schadens- bzw. der Deliktsbetrag im Vordergrund stehen, welchem eine 
                    «ganz erhebliche Bedeutung» zukomme.<sup><a href="#fn15" id="ref15">15</a></sup> 
                    Wie diese Bewertung dann aber bei der Bemessung 
                    umzusetzen ist, bleibt nicht selten im Dunkeln. Abgesehen vom Bereich des 
                    Betäubungsmittelstrafrechts, wo das Schrifttum verschiedene konkrete Vorschläge 
                    für die Bemessung der Strafe basierend auf der gehandelten Menge, der Art der Betäubungsmittel 
                    als auch der Stellung des Täters im Gefüge des Handels abgeben hat,<sup><a href="#fn16" id="ref16">16</a></sup> 
                    unterlässt es auch die 
                    Lehre regelmässig, numerische Angaben zur Bedeutung der einzelnen Strafzumessungsfaktoren zu machen.
                </p>
                
                <h5 class="mt-3">3.	Die Strafzumessung in der Rechtswirklichkeit</h5>
                <p>
                    Wie die Strafe in der Rechtswirklichkeit gebildet wird, ist sowohl für die Betroffenen wie auch 
                    die Öffentlichkeit nur schon deswegen wenig transparent, weil dieser Vorgang weder publikums- 
                    noch parteiöffentlich ist. Externe können diesbezüglich nur auf die wenigen <b>Erfahrungsberichte 
                    von Praktikern</b> zurückgreifen. Diese fallen vor dem Hintergrund des soeben dargelegten 
                    theoretischen Programms durchwegs ernüchternd aus: So wird berichtet, dass die 
                    höchstgerichtlichen Vorgaben zur Strafzumessung wenig bis 
                    keinerlei Relevanz aufweisen würden.<sup><a href="#fn17" id="ref17">17</a></sup> 
                    Hinzu komme, dass in der Rechtswirklichkeit – gemessen am hehren Anspruch, 
                    wonach die Festsetzung der Strafe von «gesamten Unrechts- und Schuldgehalt» 
                    im konkreten Einzelfall abhängig zu machen sei – die Zahl der für die Straffestsetzung 
                    effektiv massgebenden Gesichtspunkte und deren Individualisierung 
                    bescheiden sei.<sup><a href="#fn18" id="ref18">18</a></sup> 
                    Von solchen Feststellungen nicht überrascht sein dürfte, 
                    wer schon mal persönlich einer gerichtlichen Strafzumessung beigewohnt hat, 
                    wo es mitunter «hemdsärmelig-pragmatisch» und «intuitiv» zu- und hergehen 
                    kann.<sup><a href="#fn19" id="ref19">19</a></sup> 
                </p>
                <p>
                    Durchaus berechtigt ist daher ketzerische Frage, ob dem durch die vagen bundesgerichtlichen 
                    Vorgaben kaum eingeschränkten gesetzlichen Ermessenspielraum der <b>Willkür</b> Tür und Tor 
                    geöffnet wird.<sup><a href="#fn20" id="ref20">20</a></sup> 
                    Weder die die mittlerweile in Art. 50 StGB festgehaltenen Begründungsanforderungen, 
                    noch die höchstgerichtlich etablierte Strafzumessungsmethodik vermögen zu verhindern, dass 
                    – bewusst oder unbewusst – in verdeckter Weise illegitime Gründe (wie etwa das Geschlecht, 
                    der soziale Status, die Nationalität oder die Herkunft einer Person; Restzweifel 
                    bezüglich der Beweisfrage; Vorbehalte bezüglich den gesetzgeberischen 
                    Kriminalisierungsvorentscheidungen) in Strafzumessung miteinfliessen oder 
                    dass grundsätzlich legitime Strafzumessungsgründe (bspw. die Erscheinung sowie das 
                    Auftreten der beschuldigten Person anlässlich der Hauptverhandlung) bei der Sanktionierung 
                    ein unzulässig hohes Gewicht einnehmen.<sup><a href="#fn21" id="ref21">21</a></sup>
                    Vielmehr kann die bundesgerichtliche Methodik mühelos dazu benutzt werden, einer 
                    «willkürlich gefundenen Strafe nach aussen das Mäntelchen einer bestimmten Systematik» 
                    umzuhängen und dieserart die wahren Strafzumessungsgründe zu verdecken.<sup><a href="#fn22" id="ref22">22</a></sup>
                    Wenn der erfahrene Strafrichter und Alt-Bundesrichter HANS MATHYS in seinem 
                    Leitfaden zur Strafzumessung (als Argument gegen den Strafmassvergleich mit früheren 
                    Strafurteilen) ins Feld führt, dass die konkreten Umstände, die bei einem Strafurteil 
                    massgebend gewesen seien, «häufig nicht oder nicht ausreichend bekannt» seien,<sup><a href="#fn23" id="ref23">23</a></sup>
                    so kann dies kaum anders gelesen werden, als ein (wohl unfreiwilliges)<sup><a href="#fn24" id="ref24">24</a></sup> 
                    Eingeständnis der beruflichen Erfahrung, dass die schriftliche Begründung 
                    bezüglich des Strafmasses mit den tatsächlichen Zumessungsgründen 
                    bisweilen wenig gemein hat.<sup><a href="#fn25" id="ref25">25</a></sup>
                </p>
                <p>
                    Auch wenn ich überzeugt bin, dass die Richterinnen und Richter sich der mit der Strafzumessung 
                    einhergehenden Verantwortung bewusst sind und sie diese daher gewissenhaft und soweit möglich 
                    frei von illegitimen Einflüssen ausüben, pflichte ich aufgrund meiner <b>persönlichen 
                    gerichtlichen Erfahrung</b> den Praxisberichten insoweit bei, dass die theoretischen Vorgaben 
                    und Vorschläge, welche der Rechtprechung und Lehre zu entnehmen sind, wenig Einfluss auf 
                    die effektive Bildung des Strafmasses haben. Ebenfalls beobachte ich – insbesondere an mir 
                    selbst –, dass Richterinnen und Richter bei der Festsetzung der Strafe unbesehen von der 
                    bundesgerichtlichen Methodik intuitiv auf ein Endergebnis hinsteuern, namentlich auf ein 
                    <b>Bauchgefühl</b> hinsichtlich dem nach ihrer Lebenserfahrung 
                    <b>«in solchen Fällen übliche» Strafmass</b>.<sup><a href="#fn26" id="ref26">26</a></sup>
                    Zwar wird, wenn die Strafe etwa in einem Entscheidgremium zu beantragen und zu vertreten ist, 
                    durchaus in den einzelnen Schritten der höchstgerichtlich vorgegebenen Systematik argumentiert; 
                    dies geschieht jedoch immer mit Blick auf den Bereich, wo das Endergebnis dieses vorgeblich 
                    methodischen Vorgehens nach dem bereits zuvor festgelegten «Ergebnis nach Bauchgefühl» hinzufallen 
                    hat. Das bedeutet, das Strafmass wird im Ergebnis oder zumindest in einem bestimmten 
                    Ergebnisbereich zunächst festgelegt und erst hinterher vor dem Hintergrund der 
                    bundesgerichtlichen Rechtsprechung «methodengerecht» begründet, d.h. für das 
                    gerichtsinterne Referat und/oder die schriftliche Begründung nachträglich in die 
                    jeweiligen Bruchteile (Tat- und Täterkomponenten, Aufteilung in Straftaten) aufgeteilt.
                </p>
                <p>
                    Nach meiner Empfindung lässt es sich aufgrund der menschlichen Natur kaum vermeiden, 
                    einer solchen «ergebnisorientierten» Vorgehensweise zu folgen. Dazu verleitet auch 
                    die aktuelle Ausgestaltung des Verfahrensgangs, wonach die Parteien ihre Anträge 
                    betreffend der Sanktion in einem frühen Stadium, die Staatsanwaltschaft sogar mit 
                    Anhebung der Anklage, einreichen können.<sup><a href="#fn27" id="ref27">27</a></sup>
                    Liegt bei Eingang der Anklage ein Sanktionsantrag 
                    der Staatsanwaltschaft bereits vor, so ist dieser regelmässig das Einzige, 
                    was betreffend der Strafzumessung als konkret «Greif- und Fassbares» im Raum steht. 
                    Hinzu kommt, dass die Parteien ihre Anträge ebenfalls regelmässig ausschliesslich 
                    als Endergebnis formulieren. Spätestens wenn sich die Richterin oder der Richter 
                    von der Existenz und der Strafbarkeit des eingeklagten Sachverhalts überzeugen 
                    kann, wird sie sich am vorbestehenden Sanktionsantrag der Staatsanwaltschaft 
                    orientieren und daran einen Abgleich machen, ob dieser «aus dem Bauch heraus» 
                    als angemessen oder (und aus welchen Gründen) zu hoch oder zu tief erscheint.
                </p>
                <p>
                    Eine <b>Verifikation</b>, ob sich dieses Bauchgefühl betreffend das «in solchen Fällen übliche» 
                    Strafmass tatsächlich in die <b>bisherige Sanktionspraxis</b> einreihen lässt, gestaltet sich 
                    aufgrund verschiedener Umstände als äusserst <b>aufwendig</b>. 
                    Insbesondere die Suche nach vergleichbaren Präjudizen ist mühevoll. 
                    Selbst wenn ein Zugang zu früheren Strafurteilen besteht, ist 
                    deren Recherche zeitintensiv, weil die Eckwerte, welche für 
                    die Strafzumessung als massgebend deklariert wurden, nicht 
                    systematisch erfasst werden, sondern jeweils in den bezüglich der 
                    Strafzumessung regelmässig knappen und schlagwortartigen 
                    Urteilsbegründungen zu suchen sind. Diese praktischen Mühseligkeiten, 
                    der stetig zunehmende Erledigungsdruck sowie das Bewusstsein, 
                    dass die Begründung mitunter nicht die wahren Zumessungsgründe nennt, 
                    dürften die Hauptursachen für die unter Strafpraktikern weit 
                    verbreitete <b>Abneigung gegen die Methode des Präjudizenvergleichs</b> sein,<sup><a href="#fn28" id="ref28">28</a></sup>  
                    welche in anderen Rechtsbereichen mit ähnlich weiten Ermessenspielräumen 
                    eine Selbstverständlichkeit darstellt.<sup><a href="#fn29" id="ref29">29</a></sup> 
                    Daher findet eine Überprüfung, ob sich das nach Bauchgefühl eruierte 
                    übliche Strafmass mit vergleichbaren Präjudizen in Vereinbarung 
                    lässt, regelmässig nicht statt.<sup><a href="#fn30" id="ref30">30</a></sup>
                </p>
                <p>
                    Auch wenn die in der Rechtswirklichkeit praktizierte <b>Ergebnisorientierung</b> 
                    nicht dem Bild entspricht, welches die Rechtsprechung und die Theorie von der 
                    Strafzumessung zeichnen, ist sie nach meiner Ansicht nicht ausschliesslich 
                    negativ zu bewerten. Zieht man in Betracht, dass das «Endergebnis der Strafzumessung» 
                    für die betroffenen Personen und die Gesellschaft mindestens so relevant ist, 
                    wie eine nachvollziehbare Begründung ihrer Herleitung, 
                    wird deutlich, dass ein im Ergebnis gerechtes, weil rechtsgleiches bzw. 
                    sanktionspraxiskonformes Strafmass eine «methodisch falsche» bzw. «umgekehrte» 
                    Vorgehensweise aufzuwiegen vermag. Am Endergebnis und nicht an der Herleitung 
                    der Strafe lässt sich messen, ob eine Person in Entsprechung der bisherigen 
                    Sanktionspraxis und bezüglich gleichgelagerten Sachverhalten rechtsgleich bestraft 
                    worden ist. Zudem habe ich die Erfahrung gemacht, dass eine Festsetzung der Strafe, 
                    welche ohne Ergebnisorientierung strikt nach der bundesgerichtlichen Methodik 
                    vorgenommen wird, in der (praxisrelevanten) Konstellation mehrerer verwirklichter 
                    Straftatbestände zu merklich überharten Strafmassen führt.<sup><a href="#fn31" id="ref31">31</a></sup> 
                    In der Rechtswirklichkeit 
                    muss daher nicht selten der «Asperationsquotient» angepasst werden, 
                    um die methodisch korrekt erlangte Gesamtstrafe wieder auf das Niveau 
                    des Bauchgefühls zu senken.
                </p>
                <p>
                    Trotzdem sind die Gefahren, die bei der praktizierten Ergebnisorientierung bzw. 
                    einer solchen Plausibilitätskontrolle an einem zuvor gefällten Bauchentscheid lauern, 
                    nicht zu verkennen. Wenn Entscheide aus dem Bauch heraus getroffen werden, 
                    sind sie anfällig für <b>kognitive Wahrnehmungsfehler</b>.<sup><a href="#fn32" id="ref32">32</a></sup>  
                    Misst man bspw. die eigene Voreinschätzung bezüglich des Strafmasses am 
                    staatsanwaltschaftlichen Sanktionsantrag, ist nicht auszuschliessen, 
                    dass man dabei dem sog. «Ankereffekt» unterliegt und sich von diesem Antrag 
                    unbewusst beeinflussen lässt.<sup><a href="#fn33" id="ref33">33</a></sup>  
                    Dass selbst erfahrene Richterinnen und Richter bei der Strafmassbildung 
                    vor dem Ankereffekt nicht gefeit sind, haben wissenschaftliche Untersuchungen 
                    eindrücklich bewiesen.<sup><a href="#fn34" id="ref34">34</a></sup> 
                </p>
                <p>
                    Die vorangehenden Ausführungen machen deutlich, dass die Zumessung der Strafe in der 
                    Rechtswirklichkeit ein Vorgang darstellt, welcher <b>massgebend von der Voreinstellung 
                    sowie der Intuition und den Emotionen</b> der 
                    zuständigen Richterperson(en) <b>beeinflusst</b> ist.<sup><a href="#fn35" id="ref35">35</a></sup>  
                    Angesichts dieser Gegebenheiten, wie die Strafen in der Wirklichkeit gebildet werden, 
                    vermag es kaum zu überraschen, dass <b>empirische</b> Untersuchungen aufzeigen, 
                    dass die <b>Praxis der Strafzumessung</b> je nach Region<sup><a href="#fn36" id="ref36">36</a></sup>
                    , je nach Richterpersönlichkeit<sup><a href="#fn37" id="ref37">37</a></sup>
                    oder gar je nach deren aktuellen Empfinden im Zeitpunkt der Urteilsfällung<sup><a href="#fn38" id="ref38">38</a></sup>
                    erheblich variiert.<sup><a href="#fn39" id="ref39">39</a></sup>
                    Nur schon der Zufall, welche Richter auf der Richterbank sitzen, 
                    kann das ausgefällte Strafmass erheblich beeinflussen,<sup><a href="#fn40" id="ref40">40</a></sup> 
                    was angesichts der Bedeutung des Strafmasses auf das Leben der 
                    betroffenen Person eigentlich ein unerträglicher Zustand ist.
                </p>
                
            </div>
        </div>
    </div>

    <hr>

    <section class="footnotes mt-5">
        <ol style="list-style-type: none;">

            <li id="fn1" class="fussnote mb-0 small"><sup><a href="#ref1">1</a></sup>
                Siehe bspw. SABINE GLESS, Künstliche Intelligenz in der Gerichtsbarkeit, (Warum) braucht es weiter 
                menschliche Richterinnen und Richter?, in: ZSR 5/2023, S. 429 ff. m.w.H.
            </li>
            <li id="fn2" class="fussnote mb-0 small"><sup><a href="#ref2">2</a></sup>
                Vgl. MARTIN KILLIAS et al., Grundriss des Allgemeinen Teils des Schweizerischen Strafgesetzbuchs, 
                Bern 2017, Nr. 1204.
            </li>
            <li id="fn3" class="fussnote mb-0 small"><sup><a href="#ref3">3</a></sup>
                BGE 134 IV 1 E. 5.3.3, 136 IV 55 E. 5.5.
            </li>
            <li id="fn4" class="fussnote mb-0 small"><sup><a href="#ref4">4</a></sup>
                BGE 134 IV 1 E. 5.3.3, 129 IV 6 E. 6.1, 117 IV 112 E. 1.
            </li>
            <li id="fn5" class="fussnote mb-0 small"><sup><a href="#ref5">5</a></sup>
                Vgl. etwa BGE 129 IV 6 E. 6.1 oder HANS WIPRÄCHTIGER/STEFAN KELLER, in: Niggli Marcel Alexander/Wiprächtiger Hans (Hrsg.), Basler Kommentar Strafrecht, Strafgesetzbuch, Jugendstrafgesetz, 4. Aufl., Basel 2019, Art. 47 StGB N 85 ff. (zit. BSK StGB-BEARBEITER:IN).
            </li>
            <li id="fn6" class="fussnote mb-0 small"><sup><a href="#ref6">6</a></sup>
                Vgl. STEFAN TRECHSEL/MARTIN SEELMANN, in: Trechsel Stefan/Pieth Mark (Hrsg.), 
                Schweizerisches Strafgesetzbuch, Praxiskommentar, 4. Aufl., Zürich 2021, Art. 47 N 6 ff. 
                (zit. PK StGB-BEARBEITER:IN); MARTIN SEELMANN, Strafzumessung und Doppelverwertung, 
                Ein Wegweiser zu einer überprüfbaren Strafzumessung, Diss. Zürich 2023, S. 12 
                ff. m.w.H.; BSK StGB-WIPRÄCHTIGER/KELLER, Art. 47 N 48 ff.; KILLIAS et al. (Fn. 2), 
                Nr. 1218; WINFRIED HASSEMER, Die Formalisierung der Strafzumessungsentscheidung, in: ZStW 1978, S. 80.
            </li>
            <li id="fn7" class="fussnote mb-0 small"><sup><a href="#ref7">7</a></sup>
                BSK StGB-WIPRÄCHTIGER/KELLER, Art. 47 N 7; GÜNTHER STRATENWERTH/FELIX BOMMER, 
                Schweizerisches Strafrecht - Allgemeiner Teil II: Strafen und Massnahmen, § 5 N 3.
            </li>
            <li id="fn8" class="fussnote mb-0 small"><sup><a href="#ref8">8</a></sup>
                Vgl. auch PETER ALBRECHT, Strafzumessung ohne individuelle Tatschuld?, in: ZStR 2017, S. 459 ff., 465, 
                wonach im Grunde genommen gar nicht möglich ist, das für die Zumessung wesentliche 
                Kriterium des Tatverschuldens zu bestimmen.
            </li>
            <li id="fn9" class="fussnote mb-0 small"><sup><a href="#ref9">9</a></sup>
                StGB-TRECHSEL/SEELMANN, Art. 47 StGB N 8; vgl. auch BENEDIKT KOHN, Künstliche Intelligenz und 
                Strafzumessung, Wie der Einsatz technischer Hilfsmittel für eine gerechtere Sanktionspraxis im 
                digitalen Zeitalter sorgen könnte, Diss. Augsburg, Baden-Baden 2021, S. 123.
            </li>
            <li id="fn10" class="fussnote mb-0 small"><sup><a href="#ref10">10</a></sup>
                PETER ALBRECHT, Die Strafzumessung im Spannungsfeld von Theorie und Praxis, in: ZStrR 1991, 
                S. 46; STRATENWERTH/BOMMER (Fn. 7), Nr. 4.
            </li>
            <li id="fn11" class="fussnote mb-0 small"><sup><a href="#ref11">11</a></sup>
                Siehe bspw. BGE 147 IV 108 E. 2.2.5, 144 IV 217 E. 2.2 und 3.5.1, 136 IV 55 E. 5.4 ff.
            </li>
            <li id="fn12" class="fussnote mb-0 small"><sup><a href="#ref12">12</a></sup>
                BGE 136 IV 55 E. 5.4.
            </li>
            <li id="fn13" class="fussnote mb-0 small"><sup><a href="#ref13">13</a></sup>
                BGE 144 IV 217 E. 3.5, 136 IV 55 E. 5.7 ff.
            </li>
            <li id="fn14" class="fussnote mb-0 small"><sup><a href="#ref14">14</a></sup>
                ALBRECHT (Fn. 10), S. 50; SEELMANN (Fn. 6), S. 283 f.; Die Tatsache, dass sich das Bundesgericht 
                zur Massgeblichkeit der einzelnen Strafzumessungsfaktoren nur sehr zurückhaltend äussert, dürfte 
                darauf zurückzuführen sein, dass auch dort die Auffassungen über die vom Gesetzgeber offengelassene 
                Grundsatzfrage nach der Letztbegründung des Strafens weit auseinander gehen; vgl. die Rezension von 
                Alt-Bundesrichter HANS WIPRÄCHTIGER betreffend das in der nachfolgenden Fussnote bezeichnete 
                Grundlagenwerk zur Strafzumessung von Alt-Bundesrichter HANS MATHYS in: forumpoenale 1/2017, S. 60 ff.
            </li>
            <li id="fn15" class="fussnote mb-0 small"><sup><a href="#ref15">15</a></sup>
                HANS MATHYS, Leitfaden Strafzumessung, 2. Aufl., Basel 2019, Nr. 105.
            </li>
            <li id="fn16" class="fussnote mb-0 small"><sup><a href="#ref16">16</a></sup>
                Vgl. bspw. STEPHAN SCHLEGEL/OLIVER JUCKER, Kommentar zum Betäubungsmittelgesetz sowie zu Bestimmungen 
                des StGB und OBG mit weiteren Erlassen, 4. Aufl., Zürich 2022, Art. 47 StGB N 44 ff.
            </li>
            <li id="fn17" class="fussnote mb-0 small"><sup><a href="#ref17">17</a></sup>
                KARL-LUDWIG KUNZ, Überlegungen zur Strafbemessung auf erfahrungswissenschaftlicher Grundlage, 
                in: Kunz Karl-Ludwig (Hrsg.), Bürgerfreiheit und Sicherheit, Perspektiven von Strafrechtstheorie 
                und Kriminalpolitik, Bern 2000, S. 223 f.; ALBRECHT (Fn. 8), 
                machte kein Hehl daraus, dass er mittels der Bemessung der Strafe persönliche 
                sozialpolitische Anschauungen verwirklichte, vgl. S. 467 f.
            </li>
            <li id="fn18" class="fussnote mb-0 small"><sup><a href="#ref18">18</a></sup>
                KUNZ (Fn. 17), S. 229; ALBRECHT (Fn. 10), S. 53 f.; MARK SCHWEIZER, Kognitive Täuschungen vor 
                Gericht: Eine empirische Studie, Diss. Zürich 2005, Nr. 110 m.w.H.; JOHANNES KASPAR, 
                Digitalisierung als Chance für die Strafzumessung?, in: KriPoZ 1/2023, S. 6.
            </li>
            <li id="fn19" class="fussnote mb-0 small"><sup><a href="#ref19">19</a></sup>
                SABINE GLESS/WOLFANG WOHLERS, Subsumtionsautomat 2.0 - Künstliche Intelligenz statt menschlicher Richter? 
                in: Martin Böse/Kay H. Schumann/Friedrich Toepel (Hrsg.), Festschrift für Urs Kindhäuser zum 70. 
                Geburtstag, Baden-Baden 2019, S. 158; ALBRECHT (Fn. 10), S. 53 f.
            </li>
            <li id="fn20" class="fussnote mb-0 small"><sup><a href="#ref20">20</a></sup>
                BSK StGB-WIPRÄCHTIGER/KELLER, Art. 47 N 9.
            </li>
            <li id="fn21" class="fussnote mb-0 small"><sup><a href="#ref21">21</a></sup>
                HASSEMER (Fn. 6), S. 80.
            </li>
            <li id="fn22" class="fussnote mb-0 small"><sup><a href="#ref22">22</a></sup>
                HANSPETER KIENER, Den Tarif durchgeben?, 
                Die zahlenmässig Gewichtung von Strafzumessungsfaktoren als Mittel zur Herstellung von Vergleichbarkeit 
                und Transparenz, dargestellt anhand ausgewählter Delikte mittlerer und schwerer Kriminalität, 
                in: ZStR 2007, S. 373 f.
            </li>
            <li id="fn23" class="fussnote mb-0 small"><sup><a href="#ref23">23</a></sup>
                MATHYS (Fn. 15), Nr. 579.
            </li>
            <li id="fn24" class="fussnote mb-0 small"><sup><a href="#ref24">24</a></sup>
                In den grundsätzlichen Erwägungen desselben Werks bekräftigt MATHYS die gesetzliche Anforderung, 
                dass die für die Zumessung der Strafe erheblichen Umstände und deren Gewichtung in der schriftlichen 
                Urteilsbegründung festzuhalten sind, vgl. Nr. 63 ff.
            </li>
            <li id="fn25" class="fussnote mb-0 small"><sup><a href="#ref25">25</a></sup>
                Siehe auch THOMAS KÜRSTEINER, Künstliche Intelligenz in der Rechtsprechung diskutiert am 
                Beispiel der Begründungspflicht, in: «Justice - Justiz - Giustizia» 1/2024, Nr. 49.
            </li>
            <li id="fn26" class="fussnote mb-0 small"><sup><a href="#ref26">26</a></sup>
                Siehe ALBRECHT (Fn. 10), S. 45 u. 51 m.w.H; HASSEMER (Fn. 6), S. 69 f.; KASPAR (Fn. 18), S. 6.
            </li>
            <li id="fn27" class="fussnote mb-0 small"><sup><a href="#ref27">27</a></sup>
                ALBRECHT (Fn. 10), S. 51.
            </li>
            <li id="fn28" class="fussnote mb-0 small"><sup><a href="#ref28">28</a></sup>
                Siehe BGE 141 IV 61 E. 6.3.2, 135 IV 191 E. 3.1; 
                vgl. Urteil des Bundesgerichts 7B_255/2022 vom 28. September 2023 E. 4.3.1 m.w.H; MATHYS (Fn. 15), Nr. 578 ff.
            </li>
            <li id="fn29" class="fussnote mb-0 small"><sup><a href="#ref29">29</a></sup>
                Vgl. bspw. BGE 140 V 356 E. 5.5.1, 138 III 337 E. 6.3.4, 128 III 447 E. 1.6.
            </li>
            <li id="fn30" class="fussnote mb-0 small"><sup><a href="#ref30">30</a></sup>
                ALBRECHT (Fn. 10), S. 52.
            </li>
            <li id="fn31" class="fussnote mb-0 small"><sup><a href="#ref31">31</a></sup>
                Zu einer vergleichbaren Einschätzung gelangt ALBRECHT (Fn. 10), S. 62.
            </li>
            <li id="fn32" class="fussnote mb-0 small"><sup><a href="#ref32">32</a></sup>
                EVELYNE HUNZIKER, Algorithmen in der Strafrechtspflege, Biases und Diskriminierung von Mensch und 
                Maschine, in: Monika Simmler (Hrsg.), Smart Criminal Justice, Der Einsatz von Algorithmen in der 
                Polizeiarbeit und Strafrechtspflege, Basel 2021, S. 184 f.
            </li>
            <li id="fn33" class="fussnote mb-0 small"><sup><a href="#ref33">33</a></sup>
                DAVID NINK, Justiz und Algorithmen, Über die Schwächen menschlicher Entscheidungsfindung und die 
                Möglichkeit neuer Technologien in der Rechtsprechung, Diss. Speyer 2020, Berlin 2021, S. 53 ff.; 
                SCHWEIZER (Fn. 18), Nr. 191 ff.; CHRISTOPH NICKOLAUS, Ankereffekte im Strafprozess, Verstoss 
                gegen das Prinzip des fairen Verfahrens, Diss. Mainz 2018, Baden-Baden 2019, passim; HUNZIKER (Fn. 32), 
                S. 283; KOHN (Fn. 9), S. 118 ff.; je m.w.H.
            </li>
            <li id="fn34" class="fussnote mb-0 small"><sup><a href="#ref34">34</a></sup>
                BIRTE ENGLICH/THOMAS MUSSWEILER, Sentencing Under Uncertainty, Anchoring Effects in the Courtroom, 
                in: Journal of the Applied Social Psychology, 7/2001, S. 1535 ff.; 
                NICKOLAUS (Fn. 33), S. 202 ff., 222; SCHWEIZER (Fn. 18), Nr. 212 ff.
            </li>
            <li id="fn35" class="fussnote mb-0 small"><sup><a href="#ref35">35</a></sup>
                ALBRECHT (Fn. 10), S. 52.
            </li>
            <li id="fn36" class="fussnote mb-0 small"><sup><a href="#ref36">36</a></sup>
                KOHN (Fn. 9), S. 97 ff.; NINK (Fn. 33), S. 84 ff.; je m.w.H.
            </li>
            <li id="fn37" class="fussnote mb-0 small"><sup><a href="#ref37">37</a></sup>
                KEVIN CLANCY/JOHN BARTOLOMEO/DAVID RICHARDSON, Sentence Decisionmaking, The Logic of Sentence Decisions 
                and the Extent and Sources of Sentence Disparity, in: Journal of Criminal Law and Criminology 2/1981, 
                S. 524 ff.; vgl. die Rezeption in DANIEL KAHNEMAN/OLIVER SIBONY/CASS R. SUNSTEIN, Noise, Was unsere 
                Entscheidungen verzerrt – und wie wir sie verbessern können, dt. Übersetzung von "Noise, A Flaw in 
                Human Judgement", München 2021, S. 83 ff.; SIMMLER et al., Disparität in der Strafzumessung: Ergebnisse 
                einer Studie zur punitiven Einstellung von RichterInnen und StudentInnen, in: SZK 2/2017, S. 15 f.; 
                KOHN (Fn. 9), S. 111 ff. m.w.H.
            </li>
            <li id="fn38" class="fussnote mb-0 small"><sup><a href="#ref38">38</a></sup>
                NINK (Fn. 33), S. 74 ff. und KOHN (Fn. 9), S. 114 ff. mit Verweis auf die berühmte Studie von SHAI 
                DANZINGER/JONATHAN LEVAV/LIORA AVNAIM-PESSO, passim, betreffend israelische Bewährungsentscheide, 
                die im Tagesverlauf, insb. nach den Mahlzeiten, unterschiedlich ausgefallen seien; 
                siehe auch KAHNEMAN/SIBONY/SUNSTEIN (Fn. 37), S. 23, mit Hinweisen auf ähnliche Studien.
            </li>
            <li id="fn39" class="fussnote mb-0 small"><sup><a href="#ref39">39</a></sup>
                M.w.H. KAHNEMAN/SIBONY/SUNSTEIN (Fn. 37), S. 21 ff.; BSK StGB-WIPRÄCHTIGER/KELLER, Art. 47 N 9; 
                HANS WIPRÄCHTIGER, Strafzumessung und bedingter Strafvollzug – eine Herausforderung für die 
                Strafbehörden, in: ZStrR 1996, S. 424.
            </li>
            <li id="fn40" class="fussnote mb-0 small"><sup><a href="#ref40">40</a></sup>
                ALBRECHT (Fn. 8), S. 463.
            </li>

        </ol>
    </section>

{% endblock body %}